@import url('global.css');

.container-bg.colorOrange {
  background-color: var(--laranja-fcamara);
}

.container-bg.colorBlue {
  background-color: var(--azul-fcamara);
}

.container-bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--azul-fcamara);
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.text-cadastro {
  font-size: 45px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.text-info-cadastro {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
}

.img-ondas {
  right: 65%;
  top: 65%;
  position: absolute;
  opacity: 0.6;
}

.img-pontilhados {
  right: 84%;
  top: 45%;
  position: absolute;
  opacity: 0.6;
}

.img-pontos {
  top: 77%;
  right: 84%;
  position: absolute;
  opacity: 0.6;
}

.img-x {
  position: absolute;
  right: 88%;
  top: 88%;
  opacity: 0.6;
}

@media (max-width: 575.98px) {
  .img-ondas {
    display: none;
  }

  .img-pontilhados {
    display: none;
  }

  .img-pontos {
    display: none;
  }

  .img-x {
    display: none;
  }

  .text-cadastro {
    font-size: 35px;
  }

  .text-info-cadastro {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .img-ondas {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-ondas {
    right: 60%;
    top: 65%;
    position: absolute;
    opacity: 0.6;
  }
}
