.button-style {
    background-color: #404099;
    color: #ffff;
    padding: 1.5vh 2vw;
    font-size: 1.8vw;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 575.98px) {

    .button-style {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
    
  }