.footer {
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 0 80px;
    background-color: #303033;
    bottom: 0;
    width: 100%;
}

.footer .l-footer img {
    width: 10em;
    height: 2em;
}

.footer .r-footer a{
    margin-left: 1em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.footer .r-footer a:hover{
    color: var(--laranja-fcamara);
}
