@import url('global.css');

.area-principal {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-text-index {
  width: 45vw;
  margin-bottom: 5vh;
}

.area-principal h1 {
  font-size: 3vw;
  color: #3d3838;
}

.area-principal span {
  font-size: 4vw;
  color: #ef653c;
}

.img-principal {
  width: 45vw;
  height: 30rem;
}

@media (max-width: 575.98px) {
  .container-text-index {
    width: 90vw;
    text-align: center;
  }

  .area-principal span {
    font-size: 40px;
  }

  .area-principal h1 {
    font-size: 30px;
  }

  .img-principal {
    display: none;
  }
}
