@import url('global.css');


#header {
    box-sizing: border-box;
    height: 10vh;
    padding: 0 7vw 0 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 2px 1px rgba(2, 2, 2, 0.15);
    z-index: 999;
}

#header.menu{
    box-shadow:none;
}

#header.back-blue{
    background-color: var(--azul-fcamara);
}

#header.back-orange{
    background-color: var(--laranja-fcamara);
}


#header .area-logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .area-logo-nav img {
    width: 8em;
}

#header .area-logo-logout img {
    width: 1.8em;
    cursor: pointer;
}


#menu {
    display: flex;
    list-style: none;
    grid: .5rem;
}

#menu .link-menu {
    display: block;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all .30s ease;
}

#menu .link-menu:hover {
    color:  var(--laranja-fcamara);
}

#header.colorOrange .link-menu{
    color: var(--dark-gray);
    padding: 2px 25px;
    border-radius: 20px;

}

#header.colorOrange .link-button{
    background-color: white;
}

#header.colorOrange .link-menu:hover{
   color: var(--laranja-fcamara);
}
#header.colorOrange .link-button:hover{
    color: var(--laranja-fcamara);
}


#menu .link-button {
    background-color: var(--laranja-fcamara);
    padding: 2px 25px;
    border-radius: 20px;
    color: white;
}

#menu .link-button:hover{
    background-color: white;
}


#btn-mobile {
    display: none;
}


@media(max-width: 992px) {
    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        right: 0px;
        background: white;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(40vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu .link-menu {
        padding: 1.5rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    
    #menu .link-button {
       color: var(--laranja-fcamara)!important;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .6rem;
    }

    #header.colorOrange  #hamburger-button{
        color: var(--laranja-fcamara);
    }

    #hamburger-button {
        border-top: 2px solid;
        width: 30px;
        color: var(--laranja-fcamara);
    }
    #hamburger-button::after, #hamburger-button::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger-button {
        border-top-color: transparent;
    }
    #nav.active #hamburger-button::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger-button::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu .link-button {
        background-color: transparent;
        color: white;
    }
    #menu .link-button:hover {
        background-color: transparent;
    }
  
   #header .area-logo-nav img {
    width: 6em;
   }

   #header .area-logo-logout img {
    width: 1.2em;
   }

}