.areaContainer{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaContainer img{
    margin-bottom: 4vh;
}

.radio-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.areaContainer p{
   font-size: .9vw;
   text-align: center;
   padding: 0 8vw;
   margin-bottom: 3vh;
}

.type-radio{
    width: 10vw;
    text-align: left;
    display: block;
}

.type-radio label{
    font-size: 1.5vw;
    padding-left:15px;
}


 
  